.plan-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
}

.plan-card {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 280px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: rgb(43, 16, 110);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #030728;
}

.plan-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}